<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
	integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a87a4abdd2.js"
	crossorigin="anonymous"></script>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<title>Contato</title>
</head>
<body>
	<nav class="corSecundaria navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand textoBranco" href="#">Gabrielli Jamas Figueiredo</a>
		<button class="navbar-toggler-right" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

			</ul>
			<ul class="navbar">
				<li class="nav-item"><a class="nav-link textoBranco" href="/portfolio">Home</a></li>
				<li class="nav-item"><a class="nav-link textoBranco" href="/projetos">Projetos</a>
				</li>
				<li class="nav-item"><a class="nav-link textoBranco" href="/skills">Skills</a></li>
				<li class="nav-item"><a class="nav-link textoBranco" href="/Contato">Contato</a></li>
			</ul>
		</div>
	</nav>
	
	<section class="jumbotron text-center corPrimaria style4">
		<div class="container">
			<h2 class="titulos">Contato</h2>
			<p>(13) 99761-6618</p>
			<p>Rua Werner Goldberg ,77
			--Barueri,SP - Brasil</p>
			<a href="https://www.linkedin.com/in/gabrielli-jamas-figueiredo-3a2baa196/" target="_blank"><i
				class="fab fa-linkedin fa-3x"></i></a> <a href="https://github.com/gjamas22" target="_blank"><i
				class="fab fa-github fa-3x"></i></a>
			<p>gjamas22@gmail.com</p>
		</div>
	</section>

	<div class="footer text-center corSecundaria">
	
		<p class="textoBranco">Copyright 2020 Gabrielli Jamas Figueiredo</p>

	</div>


	<script src="/js/bootstrap.min.js"></script>
</body>

</html>