<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
	integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a87a4abdd2.js"
	crossorigin="anonymous"></script>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<title>Meus projetos</title>
</head>
<body>
	<nav class="corSecundaria navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand textoBranco" href="#">Gabrielli Jamas
			Figueiredo</a>
		<button class="navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

			</ul>
			<ul class="navbar">
				<li class="nav-item"><a class="nav-link textoBranco"
					href="/portfolio">Home</a></li>
				<li class="nav-item"><a class="nav-link textoBranco"
					href="/projetos">Projetos</a></li>
				<li class="nav-item"><a class="nav-link textoBranco"
					href="/skills">Skills</a></li>
				<li class="nav-item"><a class="nav-link textoBranco"
					href="/Contato">Contato</a></li>
			</ul>
		</div>
	</nav>

	<div class="album py-5 bg corPrimaria">
		<div class="container">
			<h2 class="jumbotron-heading text-center titulos">Projetos</h2>
			<div class="row">
				<div class="col-md-6">
					<div class="card mb-4 box-shadow">
						<img class="card-img-top"
							data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
							alt="Thumbnail [100%x225]"
							style="height: 225px; width: 100%; display: block;"
							src="/images/Capture.PNG">
						<div class="card-body">
							<p class="card-text">Este foi um projeto que realizei,
								utilizando Spring MVC. O projeto realizava o controle de
								cobranças de um condomínio.</p>
							<ul>
								<li>Spring boot</li>
								<li>Java</li>
								<li>Maven</li>
								<li>MySQL</li>
							</ul>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://github.com/gjamas22" target="_blank"><button
											type="button" class="btn btn-sm btn-outline-success">Ver
											projeto</button></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card mb-4 box-shadow">
						<img class="card-img-top"
							data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
							alt="Thumbnail [100%x225]"
							style="height: 225px; width: 100%; display: block;"
							src="/images/Capture2.PNG">
						<div class="card-body">
							<p class="card-text">O projeto realizado em C# ,onde foi
								criado uma lista, com suas classes. Calculando imposto e estoque
								da loja.</p>
							<ul>
								<li>C#</li>
								<li>List</li>
								<li>POO</li>
								<li>Abstract</li>
							</ul>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://github.com/gjamas22/Desafio04Cshar"
										target="_blank"><button type="button"
											class="btn btn-sm btn-outline-success">Ver projeto</button></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<section class="jumbotron text-center corPrimaria style3">
					<div class="container">
						<h4 class="titulos">Acessar mais projetos</h4>
						<a href="https://github.com/gjamas22" target="_blank"><i
							class="fab fa-github fa-3x"></i></a>
					</div>
				</section>
			</div>
		</div>
		</div>
		<div class="footer text-center corSecundaria">

			<p class="textoBranco">Copyright 2020 Gabrielli Jamas Figueiredo</p>

		</div>


		<script src="/js/bootstrap.min.js"></script>
</body>

</html>
