<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
	integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a87a4abdd2.js"
	crossorigin="anonymous"></script>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<title>Minhas Skills</title>
</head>
<body>
	<nav class="corSecundaria navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand textoBranco" href="#">Gabrielli Jamas
			Figueiredo</a>
		<button class="navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

			</ul>
			<ul class="navbar">
				<li class="nav-item"><a class="nav-link textoBranco"
					href="/portfolio">Home</a></li>
				<li class="nav-item"><a class="nav-link textoBranco"
					href="/projetos">Projetos</a></li>
				<li class="nav-item"><a class="nav-link textoBranco"
					href="/skills">Skills</a></li>
				<li class="nav-item"><a class="nav-link textoBranco"
					href="/Contato">Contato</a></li>
			</ul>
		</div>
	</nav>
	<section class="jumbotron text-center corPrimaria style2">
		<div class="container">
			<h2 class="jumbotron-heading titulosBrancos">Skills</h2>
			<p class="lead textoBranco">Olá meu nome é Gabrielli , tenho 18
				anos e curso Análise e desenvolvimento de sistemas na
				UNIP(Alphaville).Atualmente sou estagiária na empresa GFT Brasil.
				Possuo conhecimento em linguagem C,HTML,CSS e Java.</p>
			<p class="lead textoBranco">Possuo 1 ano de trabalho voluntário
				como Acolhedora (na E.E Leonor Mendes de Barros), onde recepcionava e efetuava atividades para
				socialização com os alunos novos.</p>
				<p class="lead textoBranco">Com dois anos de curso de inglês,meu nível de inglês é intermediário.</p>
			
			<div class="album py-5 bg corPrimaria">
		<div class="container">
			<h2 class="jumbotron-heading text-center titulos">Certificações</h2>
			<div class="row">
				<div class="col-md-6">
					<div class="card mb-4 box-shadow">
						<img class="card-img-top"
							data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
							alt="Thumbnail [100%x225]"
							style="height: 225px; width: 100%; display: block;"
							src="/images/c.PNG">
						<div class="card-body">
							<p class="card-text">Ja ganhei menção honrosa na 13° Olimpíada Brasileira de Matemática das Escolas Públicas - OBMEP 2017</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card mb-4 box-shadow">
						<img class="card-img-top"
							data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
							alt="Thumbnail [100%x225]"
							style="height: 225px; width: 100%; display: block;"
							src="/images/c2.PNG">
						<div class="card-body">
							<p class="card-text">Certificação do curso de programação para internet com HTML5 E CSS3 pela plataforma Digital Innovation One.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</section>
	<div class="footer text-center corSecundaria">
	
		<p class="textoBranco">Copyright 2020 Gabrielli Jamas Figueiredo</p>

	</div>


	<script src="/js/bootstrap.min.js"></script>
</body>

</html>

